/* Navbar styling */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: "Times New Roman", Times, serif;
}

/* Navbar button styling */
.navbar-button {
    margin-right: 15px;
    text-decoration: none;
    color: black;
    font-size: 14px;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 40%;
    background-color: #FBBF77 ;
    display: inline-block;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

/* Hover effect */
.navbar-button:hover {
    background-color: #ECEDEF;
    color: #BF5700;
    transform: scale(1.1);
    text-decoration: none;
}

/* Menu toggle for mobile */
.menu-toggle {
    display: none;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}

@media (max-width: 768px) {
    .menu-toggle {
        display: block;
    }

    .navbar-buttons {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    .navbar-buttons.open {
        display: flex;
    }
}

/* Logo container */
.navbar-logo-container {
    display: flex;
    align-items: center;
}

/* Logo image */
.navbar-logo {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

/* Logo text */
.navbar-logo-text {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    text-decoration: none; /* Removes underline */
}

.navbar-logo-text:hover {
    text-decoration: none; /* Ensures no underline appears on hover */
}

/* Navbar buttons (links) */
.navbar-buttons {
    display: flex;
    align-items: center;
}

.navbar-button {
    margin-right: 15px;
    text-decoration: none;
    color: black;
    font-size: 14px;
    cursor: pointer;
    font-family: "Times New Roman", Times, serif;
}

.navbar-button:hover {
    text-decoration: underline;
    color: #f97316; /* Highlight color on hover */
}

/* General body styling */
body {
    margin: 0;
    font-family: "Times New Roman", Times, serif;
}
